@import "variables.scss";

@-moz-document domain("olx.com.pk"), domain("olx.in"), domain("olx.co.id") {
  /* Pakistan, India, Indonesia */
  //TODO

  form.searchmain {
    background: hsla(196, 36%, 27%, 1); // #b0cfda
  }
  .button {
    border-color: hsla(216,65%,25%,1); // #2965be
    background-color: hsla(216,65%,25%,1); // #2965be
    -webkit-box-shadow: 0px 0px 0px 2px $c-fff;
    -moz-box-shadow: 0px 0px 0px 2px $c-fff;
    box-shadow: 0px 0px 0px 2px $c-fff;
  }
  form.searchmain .button {
    -webkit-box-shadow: 0px 0px 0px 3px $c-fff;
    -moz-box-shadow: 0px 0px 0px 3px $c-fff;
    box-shadow: 0px 0px 0px 3px $c-fff;
  }

  /* MY ACCOUNT BUTTON*/
  ul.userbox .userbox-account {
    border-color: $c-eee;
  }
  .link:hover > *, a.tdnone:hover .link > * { // hover fix
    color: #f70;
  }

  /* MAIN PAGE GRID*/
  .icongrid td {
    border-left: 1px solid $c-f8f8f8;
    border-top: 1px solid $c-f8f8f8;
  }
  .icongrid td:first-child {
    border-left: none;
  }
  .icongrid td.vtop {
    border-top: none;
  }
  .icongrid tr:first-child td {
    border-top: none;
  }

  /* OTHER */
  .imgframe {
    border-color: $c-f5f5f5;
  }
  #gotop {
    box-shadow: 0 0 3px $c-e8e8e8;
  }
  #gotop:hover {
    border-color: $c-c9d8ef;
  }
  #goback {
    -webkit-box-shadow: 0 0 3px $c-e8e8e8;
    -moz-box-shadow: 0 0 3px $c-e8e8e8;
    box-shadow: 0 0 3px $c-e8e8e8;
  }
  #goback:hover {
    border-color: $c-c9d8ef;
  }
  #pageview {
    background: $c-f0f5fb;
    background: rgba(38,38,38,.5); //  rgba(230, 240, 255, 0.5)
  }
  #searchbox { // bg fix
    background: transparent;
  }

  /* SEPARATORS */
  .bre3 {
    border-color: $c-e3e3e3;
  }

  /* FOOTER */
  #footer-container {
    background: $c-fff;
    border-top-color: $c-eee;
  }
  #footer-container:before {
    filter: invert(.9);
  }

  /* LOGIN PAGE */
  .accessbox {
    border-color: $c-e1e1e1;
    background: $c-fff;
  }
  form.access fieldset { // bg fix
    background: transparent;
    border-color: transparent;
  }
  .accessbox .bottominfobar {
    background: $c-fafafa;
    border-top-color: $c-f2f2f2;
  }
  form.default.login .fblock.active .focusbox,
  form.default .fblock.active .focusbox {
    background: $c-f3f3f3;
  }
  form.default .fblock.active .focusbox.smallshadow {
    -webkit-box-shadow: 0px 0px 0px 6px $c-f3f3f3;
    -moz-box-shadow: 0px 0px 0px 6px $c-f3f3f3;
    box-shadow: 0px 0px 0px 6px $c-f3f3f3;
  }

  /* MODALS */
  #noAccountDiv .inner {
    background: $c-f6f6f6;
  }
  form.sendmail2 .fblock input.light {
    background: $c-fff;
  }

  /* POSTING ADS */
  .container .wrapper {
    background: $c-fff;
  }
  #newOffer {
    border-color: $c-dedede;
  }
  .fb-login-wrapper {
    background-color: $c-fff;
    border-color: $c-ddd;
  }
  #phone .cntrycod { // color fix
    color: inherit;
  }
  form.adding div.suggest {
    color: $c-000;
    border-color: $c-dbdbdb;
  }
  form.adding .fblock.active,
  form.adding.default .fblock.active .focusbox {
    background: hsla(60,100%,13%,1); // #ffa
  }
  form.adding div.suggest .icon.target { // tip arrow fix
    height: 11px;
  }

  /* QR CODE */
  .qr-code-placeholder {
    background: $c-eee;
    border-color: $c-ddd;
    box-shadow: 0 0 8px $c-ddd;
  }
  .qr-code-placeholder:before {
    border-bottom: 10px solid $c-c7c7c7;
  }
}