@import "variables.scss";

@-moz-document regexp("https?://(www|(?!help).*)?.olx.com.(ar|bo|co|cr|ec|sv|gt|ni|pa|py|pe|uy|ve)/(?!payment).*") {
  /* Argentina, Bolivia, Colombia, Costa Rica, Ecuador, El Salvador, Guatemala, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela */

  /* MAIN */
  body, .item_index_view > article, .item_partials_navigation_view {
    background: $c-eceff1;
    color: $c-000;
  }
  .home_partials_items_view .list .item-wrapper .item {
    background-color: $c-fff;
    -webkit-box-shadow: 1px 1px 1px $c-ccc;
    -moz-box-shadow: 1px 1px 1px $c-ccc;
    box-shadow: 1px 1px 1px $c-ccc;
    color: $c-000;
  }
  .home_partials_categories_view .categories .category-wrapper .category {
    background-color: $c-fff;
    -webkit-box-shadow: 1px 1px 1px $c-ccc;
    -moz-box-shadow: 1px 1px 1px $c-ccc;
    box-shadow: 1px 1px 1px $c-ccc;
  }
  .footer-view {
    background-color: $c-e3e6e9;
    border-top: 1px solid $c-eceff1;
    outline: 1px solid $c-c5c5c5;
  }
  .footer-view .columns .column .column-links .column-item .modal-link,
  .item_partials_optionals_view.compact li strong, .item_partials_optionals_view.compact li span,
  .item_partials_navigation_view .prev,
  .item_partials_seo_view nav,
  .users_lostpassword_view .title, .users_login_view .title,
  .footer-view .columns .column .column-links .column-item .modal-container .modal-header,
  .users_register_view .title {
    border-color: $c-ccc;
  }
  .dividing-line .line {
    background: $c-ccc;
  }
  a, .footer-view .columns .column .column-links .column-item > a {
    color: $c-607d8b;
  }
  .item_index_view > article > div .content,
  .users_lostpassword_view form .wrapper, .users_login_view form .wrapper,
  .users_register_view form .wrapper, .posting-categories-list .child-categories-list, #listing-nav .sub-categories {
    background: $c-fff;
  }
  .posting-categories-list {
    background: $c-f5f5f5;
  }
  .posting-view .field-wrapper.focus, .users-edituserprofile-view .field-wrapper.focus, .users-editpersonalinfo-view .field-wrapper.focus, .users_myolx_view .field-wrapper.focus {
    background-color: $c-eceff1;
  }
  .home_partials_categories_view .categories .category-wrapper .category h2 a,
  .item_partials_optionals_view li span {
    color: $c-000;
  }
  .item_partials_user_view, .item_partials_reply_view, .item_partials_tips_view {
    background-color: $c-e3e6e9;
  }
  .users_lostpassword_view .lostpassword_view, .users_login_view .lostpassword_view, .users_lostpassword_view .login_view, .users_login_view .login_view,
  .footer-view .columns .column .column-links .column-item .modal-container, .users_register_view, #seo-box, .posting-item-information, .posting-profile-view,
  .items-locations .locations-list, .items-locations .locations-tabs li:only-child, .items-list .item {
    background: $c-fff;
    border-color: $c-ccc;
  }
  .footer-view .columns .column .column-links .column-item .modal-container .modal-column-item {
    border-color: $c-f3f3f3;
  }

  /* TEXT COLORS */
  .items-list .item .items-price, #listing-nav .title, #breadcrumb, #listing-breadcrumb, .listing-tabs .tabs li a:hover,
  .partnerships-view .partner .partner-info h6, .items-list-ig .item .items-price, #listing-nav .title:hover .icons::before {
    color: $c-000;
  }
  a:hover {
    color: #a1a1a1; /* #455a64 */
  }

  /* OFFER */
  .item_partials_location_view, .partnerships-view .partner {
    background-color: $c-eceff1;
  }
  .item_partials_optionals_view li:first-child strong, .item_partials_optionals_view li:first-child span,
  .item_partials_optionals_view li strong, .item_partials_optionals_view li span,
  .item_partials_navigation_view .back {
    border-color: $c-ccc;
  }
  .item_partials_images_view figure {
    background-color: $c-eee;
  }

  /* OFFERS */
  .wrapper-main, .wrapper, #breadcrumb, #listing-breadcrumb {
    background-color: $c-eceff1;
  }
  #listing-nav {
    background: #2b2b2b; /* #e7e9ec */
    border-color: $c-ccc;
  }
  .listing-tabs .tabs li a.active, .listing-tabs .tabs li span.active {
    color: $c-000;
    border-bottom-color: $c-eceff1;
  }
  .listing-tabs .tabs li a, .listing-tabs .tabs li span, .listing-tabs, .items-list .item:hover,
  #breadcrumb .breadcrumb-pagination a[rel="prev"], #listing-breadcrumb .breadcrumb-pagination a[rel="prev"],
  #listing-nav .title.filter-title {
    border-color: $c-ccc;
  }
  #listing-filters .filter.check-box label, #listing-filters .filter.radio label, #listing-filters .filter.check-box .link-range, #listing-filters .filter.radio .link-range {
    color: $c-607d8b;
  }
  .items-list-ig .item {
    background: $c-fff;
    border-color: $c-ccc;
  }
  .items-list-ig .item:hover, #seo-box .title,
  #listing-nav .categories-link, #listing-nav .title:first-child,
  #listing-nav .parent-categories {
    border-color: $c-ccc;
  }
  #listing-nav .category-selected, #listing-nav .parent-categories li a:hover {
    background: $c-607d8b;
  }

  /* MODAL */
  .modal .modal-wrapper .modal-container {
    background: $c-fff;
    border-color: $c-ccc;
  }
  .modal#location-modal .modal-wrapper .modal-container .modal-header,
  .modal .modal-wrapper .modal-container .modal-header {
    background: $c-f5f5f5;
    border-color: $c-ccc;
  }
  .modal .modal-wrapper .modal-container .modal-content {
    background: $c-fff;
  }
  .modal .modal-wrapper .modal-container .modal-header .icon-material-close:hover::before {
    color: $c-000;
  }
  .modal#location-modal .modal-wrapper .modal-container .location-content .column h4 {
    border-color: $c-ccc;
  }
  #modal-flagitem-view .modal-container .modal-content form .formField .mandatory {
    color: $c-333;
  }

  /* INPUT */
  input {
    background: $c-fff;
    color: $c-000;
    border-radius: 3px;
    border: 1px solid $c-ccc;
  }
  .text-field {
    border-color: $c-ccc;
    color: $c-000;
  }
  .text-field:focus {
    color: $c-000;
  }
  .users_lostpassword_view form .text-field, .users_login_view form .text-field,
  .users_register_view form .text-field {
    background: $c-fff;
    border-color: $c-ccc;
    color: $c-000;
  }

  /* TEXTAREA */
  textarea {
    background: $c-fff;
  }
  .item_partials_reply_view fieldset input, .item_partials_reply_view fieldset textarea {
    border-color: $c-ccc;
    background-color: $c-fff;
    color: $c-000;
  }

  /* BUTTONS */
  #listing-filters .filter.range .button {
    background: #494949; /* #b9c6cc */
  }
  .item_partials_location_view .action > p .show {
    background-color: $c-eceff1;
    color: #949494; /* #666 */
    border-color: #6b6b6b; /* #999 */
  }
  .item_partials_location_view .action > p .show:hover {
    background-color: #2e2e2e; /* #e2e6e9 */
  }

  /* AD REMOVE */
  .adserving .adserving-afs {
    display: none!important;
  }
  /* FIXEX AFTER AD REMOVE */
  .adserving {
    margin-top: 10px;
  }

}