//--- Colors

$c-fff: #191919;
$c-fff4d9: #222;
$c-f0fecc: #1f1f1f;
$c-f0fdce: #202020;
$c-000: #fff;
$c-5b5b5b: #ccc;
$c-f1f1f1: #242424;
$c-f2f2f2: #242424;
$c-f3f3f3: #232323;
$c-f4f4f4: #222;
$c-f6f6f6: #202020;
$c-f7f7f7: #202020;
$c-f7f6f6: #202020;
$c-f0f0f0: #333;
$c-fdfdfd: #1b1b1b;
$c-eaeaea: #444;
$c-efefef: #282828;
$c-dfdfdf: #333;
$c-d1d1d1: #3e3e3e;
$c-d2d2d2: #3d3d3d;
$c-ccc: #585858;
$c-c8c8c8: #454545;
$c-cecece: #414141;
$c-cfcfcf: #404040;
$c-e8e8e8: #303030;
$c-959595: #a5a5a5;
$c-737373: #aaa;
$c-626262: #bbb;
$c-414141: #ccc;
$c-2b2b2b: #eee;
$c-dbdbdb: #363636;
$c-dcdcdc: #1d1d1d;
$c-dddcda: #353535;
$c-dedede: #303030;
$c-b3b3b3: #565656;
$c-fafafa: #1c1c1c;
$c-e6e6e6: #2d2d2d;
$c-ebebeb: #282828;
$c-ededed: #282828;
$c-a0a0a0: #595959;
$c-525252: #a5a5a5;
$c-b6e469: #242e15;
$c-f1f5fc: #212121;
$c-dadada: #363636;
$c-f8f8f8: #1d1d1d;
$c-5b5b5b: #9d9d9d;
$c-e5e5e5: #2e2e2e;
$c-434343: #b0b0b0;
$c-e2e2e2: #313131;
$c-e3e3e3: #303030;
$c-e4e3e1: #303030;
$c-e4e4e4: #2f2f2f;
$c-e7e7e7: #2c2c2c;
$c-ebeae9: #2a2a2a;
$c-ddd: #353535;
$c-f5f5f5: #212121;
$c-ececec: #282828;
$c-989898: #6c6c6c;
$c-eceff1: #262626;
$c-e3e6e9: #2e2e2e;
$c-c5c5c5: #484848;
$c-607d8b: #868686;
$c-727272: #8a8a8a;
$c-eee: #272727;
$c-333: #bdbdbd;