@import "_variables.scss";

@-moz-document regexp("https?://(|www.)olx(liban)?.([a-z]{2,3})(.[a-z]{2,3})?/((?!bezpieczenstwo|advertising|topfeature|payment|plata-prin-olx|livrare-cu-verificare|courier|safetyuser|mobil|mobile|mobilne).*)") {
  /*!
    || Name: OLX - Quite Dark                                 ||
    || Author: pawelos076232                                  ||
    || License: CC BY-ND                                      ||
    || Version: 0.2.5                                         ||
    || Userstyles: https://userstyles.org/styles/138633       ||
    || Github: https://github.com/pawelos076232/OLX-QuiteDark ||
    */

  /* MAIN */
  body {
    color: #ddd; /* #3f4c52 */
    background: $c-fff;
  }
  table.offers, form.search input[type=text],
  form.searchmain .input-container, form.searchmain input[type=text],
  .maincategories .maincategories-list .li .item .cat-icon,
  form.quickcontact input.light, form.quickcontact select.light, form.quickcontact textarea.light,
  .offer-user__address, .bgfff, .myaccountview #header-container .navi, .myaccountview .container .wrapper,
  .dropdown dd ul, .dropdown dt a.focus, .toplinks .all a,
  form.useranswer fieldset.editspace textarea, ul.categorySelectList li,
  .gallerywide .courierbadge, .gallerywide > li, .gallerywide .gallerywide-item,
  .proposals .location-info__features {
    background: $c-fff;
  }
  .locationrequest .distancelist dt a {
    background-color: $c-fff;
  }
  .locationrequest .proposals {
    color: $c-989898;
    background-color: $c-fff;
    border-color: $c-d1d1d1;
  }
  .locationrequest .proposals .lastbox, .locationrequest .proposals .mapbox {
    border-color: $c-eaeaea;
  }
  #searchbox, .thumb.scale1, .thumb.scale4, .t-new_sidebar .offer-section, .myaccountview, .popular-searches,
  table.priceoptions tbody .even td {
    background: $c-f7f7f7;
  }
  ul.categorySelectList li a {
    color: $c-5b5b5b;
  }
  #searchmain-container {
    background: $c-f7f7f7;
    border-bottom-color: $c-f0f0f0;
  }
  #tabs-container {
    background: $c-f7f7f7;
    border-color: $c-f0f0f0;
  }
  .breadcrumb.offerslist, #header-container .navi, table.offers .offer, .accountview #footer-container>.wrapper,
  .toplinks .all, div.favsearchbox {
    border-color: $c-f0f0f0;
  }
  .brbott-1 {
    border-color: #444; /* #dfdedd */
  }
  .brbott-5, .brtop-1, .homepage #footer-container .siteinfobox, #footer-container .siteinfobox .socialsbox+.text {
    border-color: $c-e3e3e3;
  }
  .brbott-6, .brtope5, .userbox-dd h5, .brlefte5 {
    border-color: #2c2c2c; /* #e5e5e5 */
  }
  .brbott-8, .maincategories .subcategories-title, .popular-headline {
    border-color: $c-e8e8e8;
  }
  .usersearch-list {
    border-color: #393939; /* #e9e9e9 */
  }
  .brbott-12 {
    border-color: $c-fff;
  }

  /* REGIONS */
  .regions-layer {
     border-color: $c-ccc;
     background: $c-fff;
  }
  .regions-layer .column, .regions-layer .title {
    border-color: $c-ccc;
  }
  .regions-layer .column li a>* {
    color: #8c8c8c; /* #707070 */
  }
  .regions-layer .column li a {
    color: #313131; /* #d8d8d8 */
  }
  .regions-layer .column .letter a:first-letter {
    color: #fff;
  }
  .regions-layer a, .regions-layer .title a>* {
    color: #eee; /* #808080 & #cecece */
  }

  .social-links, #footer-container .siteinfobox .socialsbox + .text > div {
    border-color: $c-dddcda;
    color: #878787; /* #687981 */
  }
  div.suggesttitle, span.suggesttitle {
    border-color: #4e4e4e; /* #bdbdbb */
    background: $c-fff;
  }
  ul.tabsfav .tab.selected {
    background: $c-fff;
    color: $c-414141;
    border-color: #353535; /* #e1e1e1 */
  }
  ul.tabs2 .tab.selected {
    background: $c-fff;
    border-color: #353535; /* #e1e1e1 */
  }
  .favbottombox {
    border-top-color: #353535; /* #e1e1e1 */
  }
  ul.tabs .tab.selected {
    background: $c-fff;
    border-color: $c-ececec;
  }
  h1, h2, h3, h4, h5, h6,
  .quickcontact h3, .c2b {
    color: $c-2b2b2b;
  }
  form.search .clearbox, .locationrequest .input-container,
  form input.light, form select.light, form textarea.light,
  .dropdown dt a {
    background: $c-fff;
    border-color: $c-d1d1d1;
    color: $c-000;
  }
  .subnav2, form.myaccount-search .button {
    background: $c-fff;
    border-color: $c-d1d1d1;
  }
  form.search .multifilters a.button, form.search .multifilters label.num-input {
    background: $c-fff;
    border-color: $c-d1d1d1;
    -webkit-box-shadow: 0 1px 0 0 $c-fff;
    -moz-box-shadow: 0 1px 0 0 $c-fff;
    -ms-box-shadow: 0 1px 0 0 $c-fff;
    -o-box-shadow: 0 1px 0 0 $c-fff;
    box-shadow: 0 1px 0 0 $c-fff;
  }
  .locationrequest.smallBox .distancelist dt a,
  form.search .multifilters .filter-both-item .filter-item:first-child:before {
    border-color: $c-d1d1d1;
  }
  .locationrequest.smallBox .distanceseparator {
    background:  $c-d1d1d1;
  }
  form.search a.select {
    background: $c-fff;
    border-color: #585858; /* #d4d4d4 */
    color: $c-000;
  }
  #footer-container .footer-partners span:after {
    border-color: $c-000 transparent transparent;
  }
  #footer-container .footer-partners.active span:after {
    border-color: transparent transparent $c-000;
  }
  form.search .button.search {
    box-shadow: 0 1px 0 0 $c-fff;
  }
  .favsearchgallerybox li .card .details,
  .usersearch-list .box .details {
    background: $c-fff;
    border-bottom-color: $c-e7e7e7;
  }
  .favsearchgallerybox li .card,
  .usersearch-list .box {
    border-color: #343434; /* #dfdfdf */
    background: $c-f5f5f5;
  }
  .link:hover>*, a.tdnone:hover .link>*,
  table.breadcrumb ul .link:hover>* {
    color: $c-fff;
  }
  .t-new_sidebar .offer__innerbox,
  .offer-sidebar__box,
  .maincategories .subcategories-list {
    border-color: $c-efefef;
    background: $c-fff;
  }
  .offer-titlebox, .offer-titlebox__details em {
    border-color: $c-efefef;
  }
  .t-new_sidebar .offercontent table.details {
    border-color: $c-ebeae9;
  }
  .t-new_sidebar .offercontent table.details td {
    border-left-color: $c-fff!important;
  }
  .breadcrumbbox .wrapper, .container .wrapper, table.breadcrumb td {
    border-color: #303030; /* #ededed */
  }
  .offer-sidebar__buttons .contact-button {
    border-color: $c-efefef;
    /* color: $c-fff; */
  }
  .similarads>div>table .offer, .similarads>div {
    border-color: #303030; /* #ededea */
  }
  .bg-3 {
    background: #191919; /* #fff7c5 */
  }
  #gotop {
    bottom: -1px!important;
    -webkit-box-shadow: 0 0 3px $c-e8e8e8; /* #e8e8e8 */
    -moz-box-shadow: 0 0 3px $c-e8e8e8; /* #e8e8e8 */
    -ms-box-shadow: 0 0 3px $c-e8e8e8; /* #e8e8e8 */
    -o-box-shadow: 0 0 3px $c-e8e8e8; /* #e8e8e8 */
    box-shadow: 0 0 3px $c-e8e8e8; /* #e8e8e8 */
  }
  .br-1 {
    border-color: #575757; /* #d7d7d7 */
  }
  #footer-container .partners.box {
    background: $c-fff;
    border-color: $c-eee;
  }
  .section .suggest {
    background: $c-fff;
    border-color: #424242; /* #c8ccd4 */
  }
  .section .left .item-header p {
    background: #2e2e2e; /* #dfe6ed */
  }
  .proposals .location-info>a {
    border-color: $c-fff;
  }

  /* MY ACCOUNT */
  .accounthead {
    background: $c-fafafa;
  }
  .bgf3 {
    background: $c-f3f3f3;
  }
  .brf3, form.settings.invoicedata .fblock.submit {
    border-color: $c-f3f3f3;
  }
  .brbott-7, .choosecat .box > div .inner {
    border-color: $c-dadada;
  }
  #answerMenu {
    background: $c-fafafa;
    border-bottom-color: $c-ebebeb;
  }
  #answerMenu.fix {
    background: rgba(25,25,25,.9);
    border-bottom-color: $c-ccc;
  }
  table.adanswersnew thead th {
    color: $c-959595;
    border-top-color: $c-f1f1f1;
    border-bottom-color: $c-ebebeb;
  }
  table.adanswersnew tbody tr.row-desc>td {
    border-bottom-color: $c-ebebeb;
  }
  ul.conversationnew>li .cloud {
    background: $c-f2f2f2;
  }
  ul.conversationnew>li.my .cloud,
  form.useranswer {
    background: $c-b6e469;
  }
  div.suggest {
    background: $c-f1f5fc;
  }
  .bgfef8b5 {
    background: #202020; /* #fef8b5 */
  }
  .brleftdashc8 {
    border-left-color: #444; /* #c8c8c8 */
  }
  .subnav2 li.selected {
    color: #959595; /* #656565 */
  }
  table.mywalletnew thead th {
    border-color: $c-f1f1f1;
  }
  .whypromotelist>li, .halfgrid.whypromoteoptions {
    border-color: #383838; /* #d9d9d9 */
  }
  .halfgrid.whypromoteoptions .half:first-child>div.inner:before {
    background: $c-f7f7f7;
  }

  /* FANCY BOX */
  .moreLevels, .moreLevels>div {
    background: $c-fff;
  }
  #fancybox-content {
    border-color: $c-f1f1f1 !important;
  }
  #fancybox-title.fancybox-title-inside {
    border-color: $c-f1f1f1;
    background: $c-fff !important;
  }
  #fancybox-title.fancybox-title-inside div {
    background: $c-fff;
    border-bottom-color: #222; /* #eee */
  }
  #masterAccountDiv .inner, #saveFavDiv .inner, #synchroFavDiv .inner {
    background: #202020; /* #f6f6f6 */
  }
  #fancybox-outer {
    background: $c-fff;
    border-color: #202020; /* #f6f6f6 */
  }
  .button {
    -webkit-box-shadow: 0 0 0 2px $c-fff;
    -moz-box-shadow: 0 0 0 2px $c-fff;
    -ms-box-shadow: 0 0 0 2px $c-fff;
    -o-box-shadow: 0 0 0 2px $c-fff;
    box-shadow: 0 0 0 2px $c-fff;
  }
  form.default .fblock.active .focusbox input.light, form.default .fblock.active .focusbox select.light, form.default .fblock.active .focusbox textarea.light {
    border-color: $c-eaeaea;
    -webkit-box-shadow: 0 0 0 2px $c-eaeaea;
    -moz-box-shadow: 0 0 0 2px $c-eaeaea;
    -ms-box-shadow: 0 0 0 2px $c-eaeaea;
    -o-box-shadow: 0 0 0 2px $c-eaeaea;
    box-shadow: 0 0 0 2px $c-eaeaea;
  }
  .fancybox-title-inside {
    color:  $c-333;
    background: $c-fff;
  }
  .paybalance-box {
    background: $c-fff;
    border-color: #303030; /* #ededed */
  }
  .mainpage-gallery header h3 {
    color: $c-5b5b5b;
  }
  .bgef, .dropdown.readonly dt a, .user-box__photo, table.tablestats th {
    background-color: $c-efefef;
  }
  .dropdown dd ul {
    border-color: $c-d1d1d1;
    -webkit-box-shadow: 0 1px 2px 0 $c-ccc;
    -moz-box-shadow: 0 1px 2px 0 $c-ccc;
    -ms-box-shadow: 0 1px 2px 0 $c-ccc;
    -o-box-shadow: 0 1px 2px 0 $c-ccc;
    box-shadow: 0 1px 2px 0 $c-ccc;
  }
  .icon.f_checkbox, .icon.f_radio {
    background-color: $c-fff;
    border-color: $c-d1d1d1;
    box-shadow: 0 1px 0 0 $c-fff;
  }
  div.pageinfo, .suggest.photos {
    text-shadow: 0 1px 0 $c-fff;
  }
  .choosecat .categoryTitle {
    border-color: #3a3a3a; /* #d5d5d5 */
  }
  .chooseway .box > div a.block:hover, .chooseway a.icon-list.selected {
    background: #292929; /* #e5ecf8 */
  }

  /* INVERTING COLORS */
  #fancybox-close, .icon.loupeplus,
  .maincategories .maincategories-list .li .item a.selected:before,
  .bottombox .submittarget, form.adding .submittarget, .userbox-dd .target,
  .subnav2 li .icon.abs, div.suggest .target, img.margintop40,
  .choosecat .box > div .categoryTitle .target, .offer-sidebar .price-label:before,
  .pricelabel:before, div.suggesttitle:before, span.suggesttitle:before,
  .icon.mini.down4, .icon.mini.up4, .choosecat .box > div .scrollbar,
  .choosecat .box > div a.block:hover .target, .choosecat .box > div a.block.selected .target,
  .regions-layer:before {
    filter: invert(.901) grayscale(1);
  }
  div.suggest.error .target {
    filter: none;
  }

  /* TEXT COLORS */
  /* .cfff {color: $c-fff;} */
  .c000, .view-lists ul li a.selected, .view-lists ul li a.selected span,
  .view-lists ul li, form.adding, .dropdown a, .dropdown a:visited, .headlinebox .icon-slide:after,
  .otokredytbox-vivus-ui form.otokredyt fieldset input[type="text"], .locationrequest .cityfield.bold,
  form.search .multifilters a.button.fbold, .locationrequest .distancelist.bold dt a,
  .locationrequest .distancelist.bold dd ul a {
    color: $c-000;
  }
  .c73, .link.gray3 {
    color: $c-737373;
  }
  .c27 {
    color: #c6c6c6; /* #272727 */
  }
  /*.color-1 {
    color: $c-a0a0a0;
  }*/
  .color-5 {
    color: $c-525252!important;
  }
  .c62, .content.text, .link.gray2>*, .popular-headline h2, .sitemap-headline h2 {
    color: $c-626262;
  }
  .c41,
  .link.gray>*,
  .link.spoiler.graydot>*,
  .notification-center li .cell-label strong {
    color: $c-414141;
  }
  .creditbox .c41 {
    color: #414141; /* Vivus FIX */
  }
  form.searchmain .button input[type=submit], form.search .multifilters label.num-input input[type=text] {
    color: #fff;
  }
  .offersview div.section h2 {
    color: #9d9d9d; /* #5b5b5b */
  }

  /* TEXT NO UNDERLINE */
  .link, .link:visited {
    text-decoration: none;
  }

  /* USER DROPDOWN MENU */
  .userbox-dd {
    border-color: $c-dedede;
    background: $c-fff;
  }
  .userbox-dd ul.last {
    background: $c-f2f2f2;
  }
  .notifycircle {
    background: $c-b3b3b3;
  }

  /* SEARCHING RADIUS DROPDOWN MENU */
  .locationrequest .distancelist dd ul {
    border-color: $c-dcdcdc;
    background-color: $c-fff;
    -webkit-box-shadow: 0 1px 1px -1px $c-dadada;
    -moz-box-shadow: 0 1px 1px -1px $c-dadada;
    -ms-box-shadow: 0 1px 1px -1px $c-dadada;
    -o-box-shadow: 0 1px 1px -1px $c-dadada;
    box-shadow: 0 1px 1px -1px $c-dadada;
  }

  /* DODAJ OGLOSZENIE */
  form input.light[disabled], form textarea.light[disabled] {
    background-color: $c-f8f8f8;
  }
  form.adding div.suggest {
    background: #252525; /* #e8f4de */
  }
  .suggest.photos strong {
    color: #4baf2e; /* #1d3516 */
  }
  .photos-show-mini li.empty.progress>div>span, .photos-show-mini li.empty>div>a {
    border-color: $c-fff;
  }
  .photos-show-mini li.empty>div {
    background: $c-f4f4f4;
    border-color: #423c38; /* #cbd2d7 */
  }
  .photos-show-mini li.empty.first-child div {
    background: #242424; /* #e8f4de */
    border-color: #3d3d3d; /* #c5d7b5 */
  }
  .choosecat .box > div.selected .categoryTitle, .choosecat .box > div.selected .inner {
    background: $c-f1f1f1;
  }
  #searchbox {
    border-bottom-color: $c-f0f0f0;
  }

  /* OFFERS */
  form.search .option-search-clear:hover, form.search .option-search-criteria a:hover {
    background: $c-fdfdfd;
  }
  .listOverlay {
    background: rgba(25,25,25,.9);
  }
  .listOverlay>div {
    background-image: url(https://goo.gl/1jYkmg);
    background-size: 35px;
  }
  ul.categorySelectList li a .counter,
  form.search .multifilters .category-item a.search-choose .counter {
    color: #949494!important; /* #686666!important */
    background: #232323; /* #f4f3f1 */
  }
  .toplinks .counter {
    background: $c-fff; /* #eee */
  }
  form.search .multifilters .button .icon.mini.clear {
    border-color: $c-fff;
  }
  .view-lists ul li {
    border-color: $c-ddd;
  }

  /* OFFER */
  .offer-user__image {
    border-color: $c-fff;
    background: $c-efefef;
  }
  .offer-user__details .user-offers {
    border-color: $c-cfcfcf;
  }
  .button.white {
    background-color: $c-fff;
    border-color: $c-e5e5e5;
  }
  .quickcontact .safety-label {
    border-color: $c-efefef;
    background: #1f1f1f; /* #f5f8fd */
    color: #959595; /* #60647d */
  }
  .offer-sidebar .price-label {
    border-color: $c-efefef;
    background: $c-fff;
    color: #aaa; /* #414e41 */
  }
  .pricelabel {
    background: $c-f7f6f6;
    text-shadow: 0 1px 0 $c-fff;
  }
  .detailpage .photo-glow {
    background-color: #1d1d1d!important;
  }
  .offer-titlebox__details a, .offer-titlebox__details {
    color: $c-434343;
  }
  .otokredytbox-vivus-ui form.otokredyt .ui-widget-content,
  .otokredytbox-vivus-ui .text-note, table.breadcrumb .next .cloud {
    background: $c-fff;
  }
  .detailpage .adoptions {
    border-color: $c-f5f5f5;
  }
  form.quickcontact .inner {
    background-color: #222; /* #f1f5fc */
    border-color: $c-e7e7e7;
  }
  form.quickcontact h3 {
    color: $c-2b2b2b;
  }
  .detailpage .offercontent table.details .item {
    border-color: #2a2a2a; /* #ebeae9 */
  }
  .similarads + .actionbar {
    border-color: #2b2b2b; /* #e9e9e9 */
    color: #9a9a9a; /* #5e5e5d */
  }

  /* LOGIN / REGISTER */
  .login-tabs__navigation li a.active {
    background: $c-fff;
  }
  .login-box {
    border-color: $c-fff;
    background: $c-fff;
  }
  form.access input.light {
    border-color: $c-d1d1d1;
  }
  .login-form [type=text], .login-form [type=password] {
    border-color: $c-d2d2d2;
  }
  .login-tabs__navigation li a {
    background: $c-f6f6f6;
  }
  form.access fieldset {
    background: $c-f7f7f7;
    border-color: $c-e7e7e7;
  }
  .accessgrid .bottominfobar {
    border-color: $c-f7f7f7;
  }

  /* POPULAR & SITEMAP */
  .popular-map .col-regions {
    background: $c-f8f8f8;
  }
  .popular-map h3, .site-map h3 {
    border-color: $c-e8e8e8;
    color: $c-626262;
  }

  /* POLICY */
  table.priceoptions,
  table.priceoptions .space+.space,
  table.priceoptions thead th,
  table.priceoptions tbody td, table.priceoptions thead th,
  table.priceoptions tbody td, table.priceoptions thead th {
    border-color: $c-e7e7e7;
  }
  table.tablestats td, table.tablestats th {
    border-color: $c-ccc;
  }

  /* AD REMOVE */
  #cookiesBar, #mobileAppsbadge, .delivery-sticky, .dfp-db-wallpaper__bg, #wrapperpolko,
  div[id^=div-gpt-ad], .adsbygoogle, #div-gpt-homepage-wideboard_bottom, #div-gpt-ad-wideboard_bottom,
  .leftBranding, .rightBranding, .header-ad, .gpt, .login-page__video {
    display: none!important;
  }

}

@import "_olx_bulgaria.scss";
@import "_olx_argentina_bolivia_colombia_etc.scss";
@import "_olx_ghana_kenya_nigeria_etc.scss";
@import "_olx_pakistan_india_indonesia.scss";
@import "_olx_bosnia.scss";
@import "_olx_philippines.scss";
@import "_olx_brasil.scss";